##******************************************************************
##            Artificial Neural Net Weather Forecast               *
##                           ANN-WaFe                              *
##******************************************************************
#
#
# get weather data x times per day
BLOCK CALLSPERDAY
  24
#
# number of observables per city
BLOCK NOBSERVABLES
  3
#
# forecast weather in x hours
BLOCK FORECAST
  24
#
# number of neurons
BLOCK NNEURONS
  10
# 
# EPS in seconds
BLOCK EPS
  3600
#
# the first city is the one, we want to forecast the weather for
BLOCK CITYIDS
  0   2905826   # Herrenberg
  1   2867164   # Nagold
  2   2947444   # Böblingen
  3   2940383   # Calw
  4   2820860   # Tübingen