##******************************************************************
##            Artificial Neural Net Weather Forecast               *
##                           ANN-WaFe                              *
##******************************************************************
#
# the first city is the one, we want to forecast the weather for
#
BLOCK CITYIDS
  0   2905826   # Herrenberg
  1   5367815   # London
  2   2825297   # Stuttgart
  3   2831948   # Sindelfingen
  4   2820860   # Tübingen